body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #F7ECDE;
}


.signUpContainer{
    width: 100%;
    display: flex;
}
.leftSection{
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7ECDE;
}
textarea:focus, input:focus,select:focus{
    outline: none;
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
}

.rightSection{
    width: 40%;
    background: url("../leftcontainer.jpg");
    background-size: cover;
}

.errorMessage{
    color:red;
    font-size: 15px;
    
}

input, select {
    position: relative;
    padding: 15px 5px;
    margin: 5px 0;  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

i {
    position: absolute;
}
.checkbox{
    display: flex;
    align-items: center;
}
#terms{
    color: currentColor;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  
}

form h1{
    font-size: 20px;
    margin-bottom: 0;
    
}
form button{
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 0;
    color: white;
    background-color: #60462f;
    border-radius: 4px;
    font-weight: 600;
    width: 200px;
    padding: 10px 0;
    align-self: center;
}

@media screen and (max-width:768px) {
    body{
        background: url("../leftcontainer.jpg");
    }
    .rightSection{
        display: none;
    }
    .leftSection{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url("../leftcontainer.jpg");
        background-size: cover;
    }

.errorMessage{
    color:red;
    font-size: 10px;
    
}
    form{
        width: 90%;
        padding: 0 10px;
        background-color: #e5ddd2e8;
    }
    form button{
        align-self: center;
    }
}